*{

  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body>p{

  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 15px;
}
h1.h2{
  color: antiquewhite(76,194,76);
}

h1{

  margin-top: 80;
  margin-bottom: 80;
}

p.parrafo{

  font-size: 20px;
}

.mayus{
  text-transform: uppercase;
}

.bol{
font-weight: bold;
font-size: 50;

}

hr{
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 20px;
}

a{

font-size: 30;
text-decoration: none;
color: aqua;
background-color: tomato;
width: 200px;
height: 200px;
text-transform: capitalize;
padding: 20px;
display: block;
text-align: center ;
text-align: right 30px;
border-top-right-radius: 200px;
margin:0 auto;
border-radius: 50%;
place-content: center;
border-radius: 50;
border: dotted red  10px;


}

